.body-galery {
    background-image: none;
}

.d-md-block {
    background-color: rgb(0, 0, 0, 0.8);
}

.carousel {
    width: 50%;
    margin: auto;

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (max-width: $smartphone) {
        margin-top: 30%;
    }
}
