.nav {
    float: right;
    width: 33%;
    padding: 1%;

    & .nav__ul {
        width: 100%;
        padding-left: 33%;

        @media (max-width: $tablet) {
            padding-left: 70%;
        }

        @media (max-width: $smartphone) {
            padding-left: 40%;
        }
    }

    & .nav__item {
        display: inline;
        margin-right: 5%;
    }

    & .nav__link {
        text-decoration: none;
    }
}

@supports (display: grid) {
    .nav {
        grid-column-start: 3;
        grid-column-end: 4;
        width: 100%;
        height: auto;

        @media (max-width: $tablet) {
            grid-column-start: 2;
            grid-column-end: 4;
        }

        @media (max-width: $smartphone) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
}
